/*CSS general*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;
  padding: 2rem;
}
.bg-grey {
  background: #f7f7f7;
}
:root {
  --color--primary: #199cdb;
}
section > .container {
  max-width: 100%;
  margin: 1rem 0;
}
.section-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  display: block;
  justify-content: space-between;
  justify-self: left;
}
a {
  text-decoration: none;
}
/* button View more*/
.view-more {
  display: none;
}
/*1. Xây dựng phần ảnh Banner*/
#banner {
  position: relative;
  max-width: 100%;
  height: auto;
  color: white;
}
#banner img {
  max-width: 100%;
  height: auto;
}
.banner_title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
/* 2. Xây dựng Navbar */
nav {
  justify-content: center !important;
}

nav > :hover {
  background-color: rgb(0, 204, 255);
  color: white;
}
/*3.Xây dựng Thông tin cá nhân*/
.icon-info {
  color: var(--color--primary);
  padding-top: 1rem;
}
/*Chức năng ẩn thông tin cá nhân*/
#personal-info .section-content {
  display: none;
}
#error-email {
  color: red;
  font-weight: bolder;
}
/*4. Xây dựng phần Thông tin nghề nghiệp*/
/*kinh nghiem*/
#experience {
  display: grid;
  grid-template-columns: 75% auto;
}
#experience .timeline {
  grid-column: 1 / span 2;
}
.ic-toolbox {
  justify-self: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
/*section-content : none*/
#experience .section-content {
  display: none;
}

/*hoc van*/
#education {
  display: grid;
  grid-template-columns: 75% auto;
}
#education .timeline {
  grid-column: 1 / span 2;
}
.ic-pencil {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
#education .section-content {
  display: none;
}
/*Hoat dong*/
#activity {
  display: grid;
  grid-template-columns: 75% auto;
}
#activity .timeline {
  grid-column: 1 / span 2;
}
/*Time-line*/
.timeline .section-content {
  position: relative;
  padding-left: 1rem;
}
.timeline .title::before {
  position: absolute;
  top: -0.5rem;
  left: -0.25rem;
  content: "\2022";
  color: var(--color--primary);
  font-size: 1.5em;
}
#activity .section-content {
  display: none;
}
/*5. Xây dựng phần Sở thích*/
.ic-cycle {
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--color--primary);
  border-radius: 50%;
  border: 1px solid var(--color--primary);
  margin-bottom: 1rem;
}
#hobby {
  display: grid;
  grid-template-columns: 75% auto;
}
#hobby > .section-content {
  grid-column: 1 / span 2;
}
#hobby > .section-content > .content {
  display: flex;
}
#hobby > .section-content > .content > * {
  flex: 1;
  text-align: center;
}
.ic-telescope {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
#hobby .section-content {
  display: none;
}
/*6. Xây dựng phần "Ngôn Ngữ", "Kỹ Năng"*/
/*exp-bar*/
.exp-bar {
  width: 3rem;
  height: 0.25rem;
  background-color: rgb(216, 212, 212);
  display: inline-block;
}
.fill {
  background-color: var(--color--primary);
}
/* Ngon ngu*/
#language {
  display: grid;
  grid-template-columns: 75% auto;
}
#language .section-content {
  grid-column: 1 / span 2;
}
.ic-mic {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
/* section-content : none*/
#language .section-content {
  display: none;
}
/*Ky Nang*/
#skills {
  display: grid;
  grid-template-columns: 75% auto;
}
#skills .section-content {
  grid-column: 1 / span 2;
}
.ic-tools-2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
#skills .section-content {
  display: none;
}

/*7. Xây dựng phần Chứng chỉ - Giải thưởng*/
/*8. Xây dựng phần Dự án*/
table {
  text-align: left;
  border-top: 0.1rem solid #ddd;
}
td {
  border-bottom: 1px solid #ddd;
  vertical-align: top;
  padding: 0.75rem;
}
/*9. Xây dựng phần Liên hệ*/
#footer .container {
  font-size: 100%;
  text-align: center;
  color: var(--color--primary);
}
/*11. (Nâng cao) Bổ sung ảnh cá nhân*/
/* .avatar {
  width: 200px;
  height: 200px;
  border: 8px solid white;
  border-radius: 70%;
  position: absolute;
  top: -90px;
} */
